workflows/Knowledge Management Assistant.json
{
  "name": "Knowledge Management Assistant",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Get snippets from Pinecone Assistant\nconst snippets = $json.snippets || [];\n\n// Get current question and conversation history\nconst chatInput = $('Webhook').item.json.body.question;\nconst conversationHistory = $('Webhook').item.json.body.conversation_history || [];\n\n// Filter for high-confidence results\nconst highConfidenceSnippets = snippets.filter(s => s.score > 0.75);\n\n// Build context with sources\nconst contextWithSources = highConfidenceSnippets.map((s, index) => {\n  const source = s.metadata?.file?.name || s.reference?.file?.name || 'Unknown source';\n  return `[Source ${index + 1}: ${source}]\\n${s.content}`;\n}).join('\\n\\n---\\n\\n');\n\nconst hasGoodContext = highConfidenceSnippets.length > 0;\n\n// Extract unique sources\nconst sources = [...new Set(highConfidenceSnippets.map(s => \n  s.metadata?.file?.name || s.reference?.file?.name || 'Unknown'\n))];\nconst sourcesList = sources.map((s, i) => `[${i + 1}] ${s}`).join('\\n');\n\n// Build conversation context (last 3 turns)\nconst recentHistory = conversationHistory.slice(-6); // Last 3 Q&A pairs\nconst historyText = recentHistory.length > 0 \n  ? `\\n\\nPrevious conversation:\\n${recentHistory.map(msg => `${msg.role}: ${msg.content}`).join('\\n')}`\n  : '';\n\nreturn {\n  json: {\n    messages: [\n      {\n        role: 'system',\n        content: 'You are a helpful assistant. Answer concisely based on provided context. Use conversation history for follow-up questions. ALWAYS end with source citations.'\n      },\n      {\n        role: 'user',\n        content: hasGoodContext\n          ? `Context:\\n${contextWithSources}${historyText}\\n\\nCurrent question: ${chatInput}\\n\\nInstructions:\\n1. Answer using context and conversation history\\n2. Be concise (2-3 sentences)\\n3. End with:\\n\\nSources:\\n[1] filename.pdf\\n\\nAvailable sources:\\n${sourcesList}`\n          : `I don't have confident information about \"${chatInput}\" in my knowledge base.`\n      }\n    ],\n    conversation_history: conversationHistory,\n    current_question: chatInput\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        -528
      ],
      "id": "82f8cf71-ed54-4e45-b5ad-d25f22b05088",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "batchSize": 99999,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1824,
        -304
      ],
      "id": "1ec67537-02e7-4cf2-8dc9-d009f81af885",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "search",
        "query": "Knowledge Assistant test"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -2272,
        -304
      ],
      "id": "9a52ef8d-a350-493f-9ff5-14310c832f4c",
      "name": "Search a folder",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "aQyoorXRaoS0rLne",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "={{ $('Search a folder').item.json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -2048,
        -304
      ],
      "id": "89bad95f-3564-471b-b8b2-2054e9239d0f",
      "name": "Get items in a folder",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "aQyoorXRaoS0rLne",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -1600,
        -304
      ],
      "id": "bc915ca9-6977-4f08-bd06-64aeed553aae",
      "name": "Download a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "aQyoorXRaoS0rLne",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('Webhook').item.json.body.question }}"
            },
            {
              "content": "={{ $json.messages[0].content }}",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1824,
        -528
      ],
      "id": "2fdc2874-c69f-43b4-8cb3-e98c469c4820",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "VdoMidvwn2f8ky5L",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "uploadFile",
        "assistantData": "{\"name\":\"rag-assistant\",\"host\":\"https://prod-1-data.ke.pinecone.io\"}",
        "externalFileId": "={{ $json.id }}",
        "additionalFields": {}
      },
      "type": "@pinecone-database/n8n-nodes-pinecone-assistant.pineconeAssistant",
      "typeVersion": 1,
      "position": [
        -1376,
        -304
      ],
      "id": "50be5594-fc3b-4798-be50-1c9bdc06dba7",
      "name": "Upload file",
      "credentials": {
        "pineconeAssistantApi": {
          "id": "NWBzUF0zGtXwOaC0",
          "name": "Pinecone Assistant account"
        }
      }
    },
    {
      "parameters": {
        "assistantData": "{\"name\":\"rag-assistant\",\"host\":\"https://prod-1-data.ke.pinecone.io\"}",
        "query": "={{ $('Webhook').item.json.body.question }}",
        "additionalFields": {
          "topK": 5
        }
      },
      "type": "@pinecone-database/n8n-nodes-pinecone-assistant.pineconeAssistant",
      "typeVersion": 1,
      "position": [
        -2272,
        -528
      ],
      "id": "922b8fff-c6dd-4276-be2a-86c4e7a28b9f",
      "name": "Get context snippets",
      "credentials": {
        "pineconeAssistantApi": {
          "id": "NWBzUF0zGtXwOaC0",
          "name": "Pinecone Assistant account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ask",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2496,
        -528
      ],
      "id": "23362bd4-6593-4314-8c18-427298f156c2",
      "name": "Webhook",
      "webhookId": "aa1b9eb5-17c5-44cf-a819-f7321adcd22e"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1472,
        -528
      ],
      "id": "6888d784-acab-4adc-994c-0fdb6c870271",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2496,
        -304
      ],
      "id": "7eeba6b4-c10e-48f3-a6ed-c969fa80fd3e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false
      },
      "type": "n8n-nodes-base.microsoftOneDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2496,
        -80
      ],
      "id": "b9d0be9a-c961-4951-8bf9-7e4f66dc3d02",
      "name": "Microsoft OneDrive Trigger",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "aQyoorXRaoS0rLne",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1.1,
      "position": [
        -2272,
        -80
      ],
      "id": "bed064bf-38be-455d-aa58-385b58611598",
      "name": "Download a file1",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "aQyoorXRaoS0rLne",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "uploadFile",
        "assistantData": "{\"name\":\"rag-assistant\",\"host\":\"https://prod-1-data.ke.pinecone.io\"}",
        "externalFileId": "={{ $json.id }}",
        "additionalFields": {}
      },
      "type": "@pinecone-database/n8n-nodes-pinecone-assistant.pineconeAssistant",
      "typeVersion": 1,
      "position": [
        -2048,
        -80
      ],
      "id": "257ca7a9-64c5-4330-a612-0dab4c44a360",
      "name": "Upload file1",
      "credentials": {
        "pineconeAssistantApi": {
          "id": "NWBzUF0zGtXwOaC0",
          "name": "Pinecone Assistant account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search a folder": {
      "main": [
        [
          {
            "node": "Get items in a folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get items in a folder": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get context snippets": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get context snippets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search a folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive Trigger": {
      "main": [
        [
          {
            "node": "Download a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "64f5e33d-1c1a-44a5-80af-79a06f7116bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "302b8fc1f23112ef3ec68bb013724886582ac4a3e8fa4144de4b923b95c623ba"
  },
  "id": "ePgHnt4ZNmDQXQ7a",
  "tags": []
}